/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


html {
    height: 100%;
    background-color: black;
    margin:0;
    padding:0;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-position: center center;
    background-repeat: no-repeat;
}
html.v0 {
    background-image: url(../img/wallpaper-leather-raw.jpg);
}
html.v1 {
    background-image: url(../img/wallpaper-concrete-raw.jpg);
}
html.v2 {
    background-image: url(../img/wallpaper-wood-raw.jpg);
}
html.v3 {
    background-image: url(../img/wallpaper-metal-raw.jpg);
}
body {
    height: 100%;
}
#main {
    height: 100%;
}
#main > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 0;
}

#main > a img {
    vertical-align: middle;
    mix-blend-mode: soft-light;
    display: none;
}
#main > a:after {
    content: '';
    vertical-align: middle;
    display:inline-block;
    height: 50%;
}

.svg-container {
    position: relative;
    width: 60%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

}
.svg-container img {
    position: absolute;
    opacity: 0;
    display: none;
}
.svg-container svg {
    position: absolute;
    left: 0;
    width: 100%;
}

.svg-container.vertical {
    display: none;
}


/* Themes */
.v0 .svg {
    mix-blend-mode: soft-light;
}
.v0 .svg path,
.v0 .svg rect,
.v0 .svg polygon {
    fill: white;
}
.v1 .svg {
    mix-blend-mode: soft-light;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}
.v1 .svg path,
.v1 .svg rect,
.v1 .svg polygon {
    fill: white;
}
.v1 .svg-container.horizontal {
    width: 70%;
}
.v1 .svg-container.horizontal svg {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.v2 .svg {
    mix-blend-mode: soft-light;
}
.v2 .svg path,
.v2 .svg rect,
.v2 .svg polygon {
    fill: black;
}
.v2 .svg:last-of-type {
    display: none;
}

.v3 .svg {
    mix-blend-mode: soft-light;
}
.v3 .svg path,
.v3 .svg rect,
.v3 .svg polygon {
    fill: white;
}


/* Mobile */
@media screen and (max-width: 640px) {
    .svg-container {
        width: 85%;
        vertical-align: top;
    }
    .svg-container.horizontal {
        display: none;
    }
    .svg-container.vertical {
        display: inline-block;
    }
    .v1 .svg,
    .v3 .svg {
        mix-blend-mode: soft-light;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    .v1 .svg-container.horizontal svg {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .v1 .svg {
        mix-blend-mode: normal;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .svg-container.horizontal {
        width: 70%;
    }
    .v1 .svg-container.horizontal svg {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    .v1 .svg {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@media screen and (min-width: 1024px) {
    .v3 .svg {
        -webkit-filter: blur(1px);
        filter: blur(1px);
    }
}
